<div class="container">
  <div id="edit-listing" class="col-xs-12 col-sm-7">
    <% if @listing.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this post from being saved:</h2>
    <% end %>

    <%= form_for @listing, html: { multipart: true }, class: 'form' do |f| %>

      <div class="clearfix"></div>
      <div class="form-group">
        <%= f.label :description, class: 'primary-color' %>
        <%= f.text_field :description, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :price, class: 'primary-color' %>
        <%= f.text_field :price, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :location, class: 'primary-color' %>
        <%= f.text_field :location, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :hashtag_names, "Hashtags", class: 'primary-color' %>
        <%= f.text_field :hashtag_names, class: 'form-control' %>
      </div>


      <div id="listing-picture-field">
        <div class="form-group">
        	<%= f.fields_for :image_containers do |imgc| %>
	          <%= picture_label imgc %>
	          <%= imgc.file_field :picture, class: 'form-control' %>
	        <% end %>
        </div>
      </div>

      <% if @listing.new_record? %>
        <%= f.submit "Add my stuff", class: 'btn btn-primary' %>
      <% else %>
        <%= f.submit "Save", class: 'btn btn-primary' %>
      <% end %>

    <% end %>
  </div>
</div>
