<%= form_tag(listings_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "e.g. shoes" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<h1><%= link_to '+', new_listing_path %></h1><br>
<%= flash[:notice] %>

<% if @all_listings.any? %>
	<% @all_listings.shuffle.each do |listing| %>
		<%= link_to listing.description, listing_path(listing) %>
		<%= listing.price %>
		<%= listing.location %>
		<% listing.hashtags.each do |hashtag| %>
			<i><%= hashtag.name %></i>
    		<% end %><br>
	<% end %>
<% else %>
	There are no items yet
<% end %>

<h1><%= link_to "Dashboard", '/dashboard' %></h1> 
<!-- right now anyone can see this link and it's not linked to any particular user yet -->
