<h1><%= link_to '+', new_listing_path %></h1><br>
<%= flash[:notice] %>

<% if @all_listings.any? %>
	<% @all_listings.each do |listing| %>
		<%= link_to listing.description, listing_path(listing) %>
		<%= listing.price %>
		<%= listing.location %>
		<%= listing.id %>
		<% listing.hashtags.each do |hashtag| %>
			<i><%= hashtag.name %></i>
		<% end %><br>
	<% end %>
<% else %>
	There are no items yet
<% end %>

<h1><%= link_to "Dashboard", '/dashboard' %></h1> <!-- right now anyone can see this link and it's not linked to any particular user yet -->