<div id="single-item" class="container">
	<% if current_user == @listing.seller %>
		<%= link_to edit_listing_path, class: 'btn btn-primary' do %>
			<i class="glyphicon glyphicon-pencil"></i>
			&nbsp;Edit listing
		<% end %>
		<%= link_to listing_path(@listing), class: 'btn btn-danger', method: :delete, data: { confirm: 'Click OK to confirm the deletion'} do %>
			<i class="glyphicon glyphicon-remove"></i>
			&nbsp;Remove
		<% end %>
	<% end %>
	<div class="clearfix"></div>
	<br/>
	<div id="item-img" class="col-xs-4 text-center">
		<div id="listing-carousel" class="carousel slide" data-ride="carousel">
		  <div class="carousel-inner">
		  	<% image_count=0;
				@listing.image_containers.each do |imgc| image_count+=1 %>
					<div class="item <%= image_count==1 ? 'active' : ''%>">
						<%= image_tag imgc.picture.url(:medium), class: 'img-responsive' %>
					</div>
				<% end %>
		  </div>
		  <a class="left carousel-control" href="#listing-carousel" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		  <a class="right carousel-control" href="#listing-carousel" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		  </a>
		</div>
	</div>
	<div id="item-details" class="col-xs-6">
		<div id="item-description" class="primary-color">
			<%= @listing.description %>
		</div>
		<div class="clearfix"></div>
		<div id="price-distance" class="col-xs-6">
			<div id="price" class="primary-color">
				£<%= @listing.price %>
			</div>
			<div id="distance"></div>
		</div>
		<div class="col-xs-6">
			<% unless user_signed_in? && current_user.want_listings.include?(@listing) || current_user == @listing.seller %>
				<%= link_to "I want it!", listing_buyers_path(@listing), method: :post, class: 'btn btn-primary btn-lg', id: 'i-want-this-btn' %>
				<br/>
					<br/>
				<%= link_to "#{@listing.seller.first_name}'s pops", user_path(@listing.seller), class: 'btn btn-primary btn-lg' %>
			<% end %>
			<% if current_user.want_listings.include?(@listing) %>
				<%= link_to "Changed my mind", listing_buyer_path(@listing, current_user), method: :delete, class: 'btn btn-warning btn-lg', data: { confirm: "Click OK if you definitely don't want this anymore"} %>
				<br/>
					<br/>
				<%= link_to "#{@listing.seller.first_name}'s pops", user_path(@listing.seller), class: 'btn btn-primary btn-lg' %>
			<% end %>
		

		</div>

	</div>

	<div class="clearfix"></div>

	<br/>

	<div id='map' data-listing-id='<%= @listing.id %>'></div>

</div>
