<h2>Buying (<%= current_user.want_listings.count%>)</h2>

<% @want_listings.each do |want_listing| %>
	<% if want_listing.chatroom.comments.empty? %>
		<%= image_tag want_listing.main_pic, width: '100px', id: 'listing-main-pic' %>
		<i><%= link_to "Chat to the seller!" , listing_chatroom_path(want_listing) %></i><br>
	<% end %>

	<% if want_listing.last_comment %>
		<%= image_tag want_listing.main_pic, width: '100px', id: 'listing-main-pic' %>
		<% if current_user == want_listing.last_comment.user %>
			<i><%= time_ago_in_words want_listing.last_comment.created_at %> ago you said: 
				<%= link_to want_listing.last_comment.body, listing_chatroom_path(want_listing) %></i><br>
		<% else %>
			<i><%= time_ago_in_words want_listing.last_comment.created_at %> ago 
			<%= want_listing.last_comment.user.first_name %> said:
			<%= link_to want_listing.last_comment.body, listing_chatroom_path(want_listing) %></i><br>
		<%end%>
	<% end %>
<%end%>

<h2>Selling (<%= current_user.sales_listings.count%>)</h2>
<% if @sales_listings.empty? %>
	<%= link_to "Sell some stuff", new_listing_path %>
<% else %>
	<% @sales_listings.each do |sales_listing| %>		
		<% if sales_listing.chatroom && sales_listing.chatroom.comments.empty? %>
			<%= image_tag sales_listing.main_pic, width: '100px', id: 'listing-main-pic' %>
			<i><%= link_to "Chat to the buyer!" , listing_chatroom_path(sales_listing) %></i><br>
		<% end %>
	
		<% if sales_listing.chatroom && sales_listing.last_comment %>
			<%= image_tag sales_listing.main_pic, width: '100px', id: 'listing-main-pic' %>
			<% if current_user == sales_listing.last_comment.user %>
				<i>
				<%= time_ago_in_words sales_listing.last_comment.created_at %> ago you said:
				<%= link_to sales_listing.last_comment.body, listing_chatroom_path(sales_listing) %>
			</i><br>
			<% else %>
			<i>
				<%= time_ago_in_words sales_listing.last_comment.created_at %> ago 
				<%= sales_listing.last_comment.user.first_name %> said:
				<%= link_to sales_listing.last_comment.body, listing_chatroom_path(sales_listing) %>
			</i><br>
			<% end %>
		<% end %>
	<% end %>
<% end %>