<div id="conversations" class="container">
	<h2 class="primary-dark-color"><strong>Selling</strong></h2>
	<div class="col-xs-9">
		<ul class="list-unstyled">
			<% @sales_listings_chatrooms.each do |chatroom| %>
				<li>
					<div class="col-xs-11">
						<%= link_to listing_chatroom_path(chatroom.listing) do %>
							<div class="chat-img col-xs-2">
								<%= image_tag chatroom.listing.main_pic, class: 'img-responsive', id: 'listing-main-pic' %>
							</div>
							<div class="col-xs-7">
								<div class="chat-name">
									<% if current_user == chatroom.listing.seller %>
										<%= chatroom.listing.buyers.first.first_name %>
									<% else %>
										<%= chatroom.listing.seller.first_name %>
									<% end %>
								</div>
								<div class="last-msg">
									<% if chatroom.comments.any? %>
										<% if chatroom.comments.any? && current_user == chatroom.comments.last.user %>
											<strong>Me:</strong>
										<% else %>
											<strong><%= chatroom.comments.last.user.first_name %>:</strong>
										<% end %>
										<%= chatroom.comments.last.body %>
									<% else %>
										No comments yet
									<% end %>
								</div>
							</div>
						<% end %>
					</div>
					<div class="remove-btn col-xs-1" style="display:none;">
						<%= link_to edit_listing_chatroom_path(chatroom), method: :delete do %>
							<i class="glyphicon glyphicon-remove"></i>
						<% end %>
					</div>
					<div class="clearfix"></div>
				</li>
			<% end %>
		</ul>
	</div>

	<div class="clearfix"></div>

	<h2 class="primary-dark-color"><strong>Buying</strong></h2>
	<div class="col-xs-9">
		<ul class="list-unstyled">
			<% @want_listings_chatrooms.each do |chatroom| %>
				<% if chatroom.listing.buyers.first == current_user %>
					<li>
						<div class="col-xs-11">
							<%= link_to listing_chatroom_path(chatroom.listing) do %>
								<div class="chat-img col-xs-2">
									<%= image_tag chatroom.listing.main_pic, class: 'img-responsive', id: 'listing-main-pic' %>
								</div>
								<div class="col-xs-7">
									<div class="chat-name">
										<% if current_user == chatroom.listing.seller %>
											<%= chatroom.listing.buyers.first.first_name %>
										<% else %>
											<%= chatroom.listing.seller.first_name %>
										<% end %>
									</div>
									<div class="last-msg">
										<% if chatroom.comments.any? %>
											<% if chatroom.comments.any? && current_user == chatroom.comments.last.user %>
												<strong>Me:</strong>
											<% else %>
												<strong><%= chatroom.comments.last.user.first_name %>:</strong>
											<% end %>
											<%= chatroom.comments.last.body %>
										<% else %>
											No comments yet
										<% end %>
									</div>
								</div>
							<% end %>
						</div>
						<div class="remove-btn col-xs-1" style="display:none;">
							<%= link_to edit_listing_chatroom_path(chatroom), method: :delete do %>
								<i class="glyphicon glyphicon-remove"></i>
							<% end %>
						</div>
						<div class="clearfix"></div>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>

</div>