<div id="profile-info" class="container">
	<div id="picture">
		<%= image_tag @user_info.user_avatar, :class=> "img-responsive img-circle default-profile-picture" %>
	</div>
	<div id="info">
		<h2 class="primary-color"><%= @user_info.first_name %> <%= @user_info.last_name.chars.first %></h2>
		<div class="light-grey" style="display:none;">London, UK</div>
		<% if current_user.id == @user_info.id %>
		<% end %>
	</div>
</div>

<div class="listings container">

	<ul id="tabs" class="nav nav-tabs">
	  <li class="active"><a href="#selling" data-toggle="tab">Selling</a></li>
	  <% if current_user.id == @user_info.id %>
	  	<li><a href="#wants" data-toggle="tab">Wants</a></li>
	  <% end %>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="selling">
			<%= render partial: 'listings/listing', collection: @user_selling %>
		</div>
		<% if current_user.id == @user_info.id %>
			<div class="tab-pane" id="wants">
				<%= render partial: 'listings/listing', collection: @user_wants %>
			</div>
		<% end %>
	</div>

</div>
