<div id="profile-info" class="container">
	<div id="picture">
		<% if @user_info.avatar.blank? %>
			<img src="/images/default_avatar.jpg" class="img-circle default-profile-picture">
		<% else %>
			<%= image_tag @user_info.avatar.url(:medium), class: 'img-responsive img-circle' %>
		<% end %>
	</div>
	<div id="info">
		<h2 class="primary-color"><%= @user_info.first_name %> <%= @user_info.last_name %></h2>
		<div class="light-grey" style="display:none;">London, UK</div>
		<%= link_to 'Edit Profile', edit_user_registration_path, id:'edit-link' %>
	</div>
</div>

<div class="listings container">

	<ul id="tabs" class="nav nav-tabs">
	  <li class="active"><a href="#selling" data-toggle="tab">Selling</a></li>
	  <% if current_user.id == @user_info.id %>
	  	<li><a href="#wants" data-toggle="tab">Wants</a></li>
	  <% end %>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="selling">
			<% @user_selling.each do |listing| %>
				<div class="listing col-xs-4">
					<%= link_to '/listings/' + listing.id.to_s do %>
						<img src="<%= listing.main_pic %>" class="img-responsive" />
					<% end %>
					<% if current_user.id == listing.seller.id && listing.buyers.count > 0 %>
						<a href="#">
							<span class="label label-primary">1 in queue</span>
						</a>
					<% end %>
				</div>
			<% end %>
		</div>
		<% if current_user.id == @user_info.id %>
			<div class="tab-pane" id="wants">
				<% @user_wants.each do |listing| %>
					<div class="listing col-xs-4">
						<%= link_to '/listings/' + listing.id.to_s do %>
							<img src="<%= listing.main_pic %>" class="img-responsive" />
						<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>

</div>