<%= @user.first_name%> <%= @user.last_name.chars.first %>
<% if @user.avatar.blank? %>
	<img src="/images/default_avatar.jpg" class="default-profile-picture">
<% else %>
	<%= image_tag @user.avatar.url(:medium), class: 'profile-picture' %>
<% end %>

<!-- I think we can move this into our nav bar menu when we will have one -->
<% if current_user == @user %>
	<%= link_to "Edit profile", edit_user_registration_path %>
<% end %>

<%= link_to "Sign out", destroy_user_session_path, method: :delete%>

<p> 
	<%= pluralize(@user_listings.count, 'item') %> for sale
</p>
<% @user_listings.each do |listing| %>
	<%= listing.description %>
	<!-- it display the listing description, will change this to picture as soon as we have a picture field -->
<% end %>