<div id="profile-info" class="container">
	<div id="picture">
		<% if @user_info.avatar.blank? %>
			<img src="/images/default_avatar.jpg" class="img-circle default-profile-picture">
		<% else %>
			<%= image_tag @user_info.avatar.url(:medium), class: 'img-responsive img-circle' %>
		<% end %>
	</div>
	<div id="info">
		<h2 class="primary-color">John Doe</h2>
		<div class="light-grey">London, UK</div>
		<a id="edit-link" href="#">Edit Profile</a>
	</div>
</div>

<div class="listings container">

	<ul id="tabs" class="nav nav-tabs">
	  <li class="active"><a href="#selling" data-toggle="tab">Selling</a></li>
	  <% if current_user.id == @user_info.id %>
	  	<li><a href="#wants" data-toggle="tab">Wants</a></li>
	  <% end %>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="selling">
			<% @user_selling.each do |listing| %>
				<div class="listing col-xs-4">
					<%= link_to '/listings' + listing.id.to_s do %>
						<img src="<%= listing.picture %>" class="img-responsive" />
					<% end %>
				</div>
			<% end %>
		</div>
		<% if current_user.id == @user_info.id %>
			<div class="tab-pane" id="wants">
				<% @user_wants.each do |listing| %>
					<div class="listing col-xs-4">
						<%= link_to '/listings' + listing.id.to_s do %>
							<img src="<%= listing.picture %>" class="img-responsive" />
						<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
	
</div>