<h1>Chatroom for <%= @listing.seller.first_name %>'s: <%= @listing.description %> 
  Interested buyer: + ' '<%= @buyer.first_name %></h1>

 Start typing here to chat with <%= @listing.seller.first_name %>

 <%=text_field(:attr, :placeholder => "Start typing here to chat with @listing.seller.first_name") %>


