<h1>This is <%= current_user.first_name.capitalize %>'s dashboard</h1>
<%= flash[:notice] %>

<% if @sales_listings.any? %>
	<h2>Listings you are selling</h2>
	You are selling <%= pluralize(@sales_listings.count, "item") %>.
	<ul>
		<% @sales_listings.each do |sales_listing| %>
		  <li><%= sales_listing.description %></li>
		  <li><% if sales_listing.buyers.count == 0 %>
		  		  <%= "0 in queue" %>
          <% elsif sales_listing.buyers.count == 1 %>
            <%= link_to "1 in queue", listing_chatroom_path(sales_listing) %>
          <% else %>
            <%= link_to "1+ in queue", listing_chatroom_path(sales_listing) %>  
          <% end %>
       </li>   
		<% end %>
	</ul>
	<%= link_to "Add something to sell", 'listings/new' %>
<% else %>
	<h2>You are selling 0 items.</h2>
	<h2><%= link_to "Add something to sell", 'listings/new' %></h2>
<% end %>

  
<% if current_user.want_listings.any? %>
	<h2>Listings you want</h2>
	You want <%= pluralize(@want_listings.count, "item") %>.
	<ul>
		<% @want_listings.each do |want_listing| %>
		  <li><%= want_listing.description %></li>
		<% end %>
	</ul>
	<%= link_to "Browse", '/' %>
<% else %>
	<h2>You want 0 items.</h2><br>
	<h2><%= link_to "Browse", '/' %></h2>
<% end %>
