<h1>This is <%= current_user.first_name.capitalize %>'s dashboard</h1>

<h2>Listings you are selling</h2>
You are selling <%= pluralize(@sales_listings.count, "item") %>.<br>


<% @sales_listings.each do |sales_listing| %>
  <%= sales_listing.description %><br>
<% end %>

<%= link_to "Add something to sell", 'listings/new' %>
  
<h2>Listings you want</h2>
You want <%= pluralize(current_user.want_listings.count, "item") %>.<br>

<% current_user.want_listings.each do |want_listing| %>
  <%= want_listing.description %><br>
<% end %>

<%= link_to "Browse", '/' %>

